@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100;200;300;400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* TailwindCSS Styles */

.bodyContent {
  font-family: 'Sora', sans-serif;
  color: white;
}

.bodyColor {
  @apply bg-gradient-to-r from-gray-900 to-mirage-gray;
}

.mainContent {
  @apply flex flex-col justify-center p-3.5;
}

.headerText {
  @apply mt-5 text-5xl font-extrabold leading-[1.15] sm:text-6xl;
}

.descText {
  @apply mt-5 text-lg text-slate-100 sm:text-xl max-w-xl;
}

.logoText {
  @apply max-sm:hidden ml-1 font-semibold text-2xl hover:scale-110 transition duration-700 ease-in-out tracking-wide;
}

.indigoGradient {
  @apply bg-gradient-to-r from-indigo-500 from-10% via-sky-500 via-30% to-emerald-500 bg-clip-text text-transparent;
}

.yellowGradient {
  @apply bg-gradient-to-b from-orange-500 to-yellow-300 bg-clip-text text-transparent;
}

.horizonGradient {
  @apply  bg-gradient-to-b from-orange-500 to-yellow-300 bg-clip-text text-transparent;
}

.btnCyan {
  @apply rounded-full hover:bg-green-300 bg-cyan-500 py-3 px-5 text-black text-center text-sm font-semibold flex items-center justify-center hover:scale-110 transition duration-700 ease-in-out;
}

.btnBorderBlack {
  @apply rounded-full bg-white border border-black py-1.5 px-5 text-black hover:bg-red-400 hover:text-black text-center text-sm flex items-center justify-center hover:scale-110 transition duration-700 ease-in-out;
}

.dropdown {
  @apply animate-fadeInOut absolute right-0 top-full mt-3 w-full p-5 rounded-lg bg-gradient-to-r from-blue-300 via-green-200 to-yellow-300 min-w-[210px] flex flex-col gap-2 justify-end items-end;
}

.dropDownLink {
  @apply text-sm text-black hover:text-gray-700 font-semibold hover:scale-110 transition duration-700 ease-in-out;
}

.glassmorphism {
  @apply rounded-2xl border border-white/25 bg-cyan-950 shadow-[inset_10px_-50px_94px_0_rgb(199,199,199,0.2)] backdrop-blur p-5;
}

.cancelButton {
  @apply text-sm bg-mirage-gray p-3 rounded-full hover:scale-110 hover:bg-red-500 transition duration-700 ease-in-out;
}

.submitButton {
  @apply text-sm text-white bg-orange-600 p-3 rounded-full hover:scale-110 transition duration-700 ease-in-out;
}

.feed {
  @apply mt-16 mx-auto w-full max-w-xl flex justify-center items-center flex-col gap-2;
}

.searchInput {
  @apply block w-full rounded-md border border-gray-200 bg-white py-2.5 pl-5 pr-12 text-sm shadow-lg font-medium focus:border-black focus:outline-none focus:ring-0;
}

.passwordLayout {
  @apply space-y-6 py-8 sm:columns-2 sm:gap-6 xl:columns-3;
}

.passwordCard {
  @apply w-auto flex-1 break-inside-avoid rounded-lg border border-gray-300 bg-white/20 bg-clip-padding p-6 pb-4 backdrop-blur-lg backdrop-filter md:w-[360px] h-fit;
}

.copyBtn {
  @apply hover:bg-green-500 w-7 h-7 rounded-full bg-white/10 shadow-[inset_10px_-50px_94px_0_rgb(199,199,199,0.2)] backdrop-blur flex justify-center items-center cursor-pointer  hover:scale-110 transition duration-700 ease-in-out;
}

.editBtn {
  @apply hover:bg-cyan-500 w-7 h-7 rounded-full bg-white/10 shadow-[inset_10px_-50px_94px_0_rgb(199,199,199,0.2)] backdrop-blur flex justify-center items-center cursor-pointer hover:scale-110 transition duration-700 ease-in-out;
}

.deleteBtn {
  @apply hover:bg-red-500 w-7 h-7 rounded-full bg-white/10 shadow-[inset_10px_-50px_94px_0_rgb(199,199,199,0.2)] backdrop-blur flex justify-center items-center cursor-pointer hover:scale-110 transition duration-700 ease-in-out;
}

.flex-center {
  @apply flex justify-center items-center;
}

.flex-start {
  @apply flex justify-start items-start;
}

.flex-end {
  @apply flex justify-end items-center;
}

.flex-between {
  @apply flex justify-between items-center;
}

.truncate {
  overflow: hidden;
  text-overflow: ellipsis;
}


@keyframes fadeInOut {
  0% { opacity: 0; }
  50% { opacity: 1; }
}

  /* width */
  ::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #0F0F0F;
    border-radius: 5px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #2b2b2d;
    border-radius: 5px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }