@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100;200;300;400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* TailwindCSS Styles */

.bodyContent {
  font-family: 'Sora', sans-serif;
  color: white;
}

.bodyColor {
  @apply bg-gradient-to-r from-gray-900 to-mirage-gray;
}

.mainContent {
  @apply flex flex-col justify-center p-3.5;
}

.headerText {
  @apply mt-5 text-5xl font-extrabold leading-[1.15] sm:text-6xl;
}

.descText {
  @apply mt-5 text-lg text-slate-100 sm:text-xl max-w-xl;
}

.logoText {
  @apply max-sm:hidden ml-1 font-semibold text-2xl hover:scale-110 transition duration-700 ease-in-out tracking-wide;
}

.indigo_gradient {
  @apply bg-gradient-to-r from-indigo-500 from-10% via-sky-500 via-30% to-emerald-500 bg-clip-text text-transparent;
}

.btnCyan {
  @apply rounded-full hover:bg-green-300 bg-cyan-500 py-3 px-5 text-black text-center text-sm font-semibold flex items-center justify-center hover:scale-110 transition duration-700 ease-in-out;
}

.btnBorderBlack {
  @apply rounded-full bg-white border border-black py-1.5 px-5 text-black hover:bg-red-400 hover:text-black text-center text-sm flex items-center justify-center hover:scale-110 transition duration-700 ease-in-out;
}

.dropdown {
  @apply animate-fadeInOut absolute right-0 top-full mt-3 w-full p-5 rounded-lg bg-gradient-to-r from-blue-300 via-green-200 to-yellow-300 min-w-[210px] flex flex-col gap-2 justify-end items-end;
}

.dropDownLink {
  @apply text-sm text-black hover:text-gray-700 font-semibold hover:scale-110 transition duration-700 ease-in-out;
}

@keyframes fadeInOut {
  0% { opacity: 0; }
  50% { opacity: 1; }
}