@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100;200;300;400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* TailwindCSS Styles */

.bodyContent {
  font-family: 'Sora', sans-serif;
  color: rgb(47, 255, 99);
  background-color: #1e1e20;
}

.bodyColor {
  @apply bg-mirage-gray;
}

.mainContent {
  @apply flex justify-center;
}